@import "../../styles/custom-theme";

.list_item {
  height: 150px;
  //background-color: #ead9d7;
  border-bottom: 1px solid #bfbfbf;
  padding-left: 24px;
  padding-right: 10px;
  @include flex-box(row, flex-start);
  .image_box {
    width: 100px;
    height: 100px;
    @include flex-box;
    margin-right: 24px;
  }
  .text_box {
    @include flex-box(column, flex-start, flex-start);
    flex: 1;
    height: 100%;
    padding-top: 24px;
    box-sizing: border-box;
    .name {
      @include text-of-line(1);
      font-size: 30px;
      color: #333333;
      margin-bottom: 16px;
    }
    .type {
      @include text-of-line(1);
      font-size: 28px;
      color: #999999;
    }
  }
}
